@import '../../style/variables.scss';

.rc-tabs {
  font-size: 1rem;
}

.rc-tabs__navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 2.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.rc-tabs__content {
  display: none;
  padding: 0 1em;
  background-color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.rc-tabs__content--active {
  display: flex;
}

.rc-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 100%;
  background-color: transparent;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 0.5em;
  }

  &:last-child {
    border-top-right-radius: 0.5em;
  }

  &:hover {
    color: $primary;
  }
}

.rc-tab--active {
  background-color: white;
  color: $primary;
  font-weight: 500;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
