@import '../../style/variables.scss';

$padding: 1em;

.rc-tabs {
  font-size: $font-size;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.rc-tabs__navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 2.5em;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;;
}

.rc-tabs__content {
  display: none;
  padding: $padding;
  background-color: white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.rc-tabs__content--active {
  display: block;
}

.rc-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 $padding;
  height: 100%;
  background-color: #ffffff;
  color: $text-color;
  cursor: pointer;
  transition: 0.2s ease-in;

  &:first-child {
    border-top-left-radius: $border-radius;
  }

  &:last-child {
    border-top-right-radius: $border-radius;
  }

  &:hover:not(&--disabled):not(&--active) {
    color: $primary;
  }

  > .rc-icon + span,
  > span + .rc-icon {
    margin-left: 0.5em;
  }
}

.rc-tab--active:not(.rc-tab--disabled) {
  background-color: $primary;
  color: #ffffff;
  font-weight: 500;
}

.rc-tab--disabled {
  color: $text-color-when-disabled;
  cursor: not-allowed;
}
