@import '../../scss/vars.scss';

.rc-pagination {
  display: flex;
  align-items: center;
  height: 2.5em;
  padding: 0 0.25em;
  border-radius: 100em;
  user-select: none;

  &:hover {
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
    background-color: $primary-color;
    color: #fff;

    .rc-pagination-item {
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }

    .rc-pagination-item--active {
      background-color: #fff;
      color: #000;
    }
  }
}

.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 100em;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.rc-pagination-item {
  margin: 0 0.0725em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 2.125em;
  min-width: 2.25em;
}

.rc-pagination-item--active {
  background-color: $primary-color;
  color: #fff;
}

.rc-pagination-next,
.rc-pagination-prev {
  width: 2.125em;
  height: 2.125em;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s;

  .rc-icon {
    width: 100%;
    height: 100%;
  }
}

.rc-pagination-next {
  margin-left: 0.5em;
}

.rc-pagination-prev {
  margin-right: 0.5em;
}

.rc-pagination-next--hidden,
.rc-pagination-prev--hidden {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}
