@import '../../scss/vars.scss';
@import '../../scss/animation.scss';

.rc-notification {
  position: fixed;
  top: 6em;
  right: 0;
  height: 0;
  z-index: 1000;

  .rc-pure-notification {
    background-color: $primary-color;
    box-shadow: none;
    color: #fff;
    animation: zoomIn 0.25s;
    margin: 0.5em;
  }
}

.rc-notification--close-animation {
  .rc-pure-notification {
    animation: zoomOut 0.25s;
  }
}
