@import '../../style/variables.scss';

.rc-button-group {
  display: flex;
  
  > .rc-button,
  > .rc-button-link .rc-button {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }

  > .rc-button:first-child,
  > .rc-button-link:first-child .rc-button {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  > .rc-button:last-child,
  > .rc-button-link:last-child .rc-button {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
