@import '../../style/variables.scss';

$padding: 0.8em;

.rc-button {
  font-size: $font-size;
  user-select: none;
  touch-action: manipulation;
  outline: none;
  border: $border-width solid $border-color;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  height: $height;
  padding: 0 $padding;
  color: $text-color;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    color: $text-color-when-disabled;
    border-color: $border-color;
    background-color: $border-color-when-disabled;
  }

  > .rc-icon + span,
  > span + .rc-icon {
    margin-left: $padding;
  }
}

.rc-button--primary {
  background-color: $primary;
  color: #ffffff;
  border-color: $primary;

  &:hover:not(:disabled) {
    background-color: lighten($primary, 10%);
    border-color: lighten($primary, 10%);
  }

  &:focus:not(:disabled) {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

.rc-button--error {
  background-color: $error;
  color: #ffffff;
  border-color: $error;

  &:hover:not(:disabled) {
    background-color: lighten($error, 10%);
    border-color: lighten($error, 10%);
  }

  &:focus:not(:disabled) {
    background-color: darken($error, 10%);
    border-color: darken($error, 10%);
  }
}

.rc-button--success {
  background-color: $success;
  color: #ffffff;
  border-color: $success;

  &:hover:not(:disabled) {
    background-color: lighten($success, 10%);
    border-color: lighten($success, 10%);
  }

  &:focus:not(:disabled) {
    background-color: darken($success, 10%);
    border-color: darken($success, 10%);
  }
}

.rc-button--warning {
  background-color: $warning;
  color: #ffffff;
  border-color: $warning;

  &:hover:not(:disabled) {
    background-color: lighten($warning, 10%);
    border-color: lighten($warning, 10%);
  }

  &:focus:not(:disabled) {
    background-color: darken($warning, 10%);
    border-color: darken($warning, 10%);
  }
}

.rc-button--ghost:not(:disabled) {
  background-color: transparent;
  color: #ffffff;

  &.rc-button--primary,
  &.rc-button--success,
  &.rc-button--error,
  &.rc-button--warning {
    &:hover,
    &:focus {
      background: transparent;
    }
  }
  
  &.rc-button--primary {
    color: $primary;

    &:hover {
      color: lighten($primary, 10%);
    }

    &:focus {
      color: darken($primary, 10%);
    }
  }

  &.rc-button--success {
    color: $success;

    &:hover {
      color: lighten($success, 10%);
    }

    &:focus {
      color: darken($success, 10%);
    }
  }

  &.rc-button--error {
    color: $error;

    &:hover {
      color: lighten($error, 10%);
    }

    &:focus {
      color: darken($error, 10%);
    }
  }

  &.rc-button--warning {
    color: $warning;

    &:hover {
      color: lighten($warning, 10%);
    }

    &:focus {
      color: darken($warning, 10%);
    }
  }
}

.rc-button--small {
  font-size: $font-size-for-small;
}

.rc-button--large {
  font-size: $font-size-for-large;
}
