@import '../../style/variables.scss';

$primary: $primary;
$font-size: $font-size;
$background-color-for-thead: lighten($primary, 20%);
$padding: 1em;
$border-color: $border-color;
$border-width: 0.0652em;
$text-color-when-hover: $text-color;
$text-color-for-thead: $text-color;
$background-color-for-row-odd: lighten($primary, 50%);
$background-color-when-hover: darken($background-color-for-row-odd, 5%);

.rc-table {
  font-size: $font-size;
  border-collapse: collapse;
  width: 100%;
  color: $text-color;
  box-sizing: border-box;

  > thead {
    tr {
      td {
        background-color: $background-color-for-thead;
        color: $text-color-for-thead;
        font-weight: 600;
        padding: $padding;
        vertical-align: middle;
      }
    }
  }

  /* Nesting for support expand row */
  > tbody {
    > tr {
      > td {
        padding: 0.5em $padding;
        transition: 0.3s;
        font-weight: 400;

        &:hover {
          background-color: $background-color-when-hover;
          color: $text-color-when-hover;
        }
      }
    }
    
    > tr:nth-child(odd) {
      background-color: $background-color-for-row-odd;
    }
  }
}

.rc-table--bordered {
  border: $border-width solid $border-color;

  /* Nesting for suport expand row */
  > thead td,
  > tbody > tr > td {
    border: $border-width solid $border-color;
  }
}

.rc-table--vertical {
  border: $border-width solid $border-color;

  /* Nesting for suport expand row */
  > thead td,
  > tbody > tr > td {
    border-style: solid;
    border-color: $border-color;
    border-left-width: $border-width;
    border-right-width: $border-width;
  }
}

.rc-table--horizontal {
  border: $border-width solid $border-color;

  /* Nesting for suport expand row */
  > thead td,
  > tbody > tr > td {
    border-style: solid;
    border-color: $border-color;
    border-top-width: $border-width;
    border-bottom-width: $border-width;
  }
}

.rc-table--loading {
  > tbody > tr > td {
    position: relative;
    z-index: 0;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $border-color;
    }
  }
}
