@import '../../scss/vars.scss';

.rc-button {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $basic-height;
  min-width: $basic-height;
  background-color: $form-input-bg-color;
  border-radius: 100em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  outline: 0 !important;
  outline-style: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all 0.125s;

  &:hover {
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
    background-color: $primary-color;
    color: #fff;
  }

  &:focus {
    box-shadow: none;
  }

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.rc-button--circle {
  padding-left: 0;
  padding-right: 0;
}
.rc-button--small {
  font-size: $font-small;
}

.rc-button--large {
  font-size: $font-large;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-button:not(:hover) {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
}
