@import '../../style/variables.scss';

.rc-root-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 10000;
}

.rc-sticker {
  width: max-content;
  position: absolute;
}
