@import '../../../scss/vars.scss';

.rc-menubar-system-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0 0.75em 0 1.5em;
  border-radius: 100em;
  height: 4.5em;
  width: 20em;
}
