@import '../../scss/vars.scss';

.rc-textarea {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  border-radius: 1em;
  padding: 0.5em;
  transition: all 0.125s;

  &:hover,
  &.rc-textarea--focus  {
    background-color: $primary-color;
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);

    .rc-textarea__label {
      color: #fff;
    }
  }
}

.rc-textarea__label {
  height: 2.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #000;
  transition: all 0.25s;
}

.rc-textarea > textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 7em;
  border-radius: 1em;
  padding: 0.5em 1em;
  outline: 0 !important;
  background-color: $form-input-bg-color;
  box-shadow: none;
  touch-action: manipulation;
  transition: all 0.25s;
}

.rc-textarea > textarea:disabled {
  box-shadow: none;
  cursor: not-allowed;
}
