@import '../../scss/vars.scss';

.rc-textarea {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  border-radius: $border-radius;
  padding: 0.5em 1em;
  background-color: #f9f9f9;
  transition: all 0.25s;

  &:hover,
  &.rc-textarea--focus  {
    background-color: $primary-color;

    .rc-textarea-label,
    .rc-textarea-error,
    > textarea {
      color: #fff;
    }
  }
}

.rc-textarea-label {
  height: $basic-height;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #000;
  user-select: none;
}

.rc-textarea-error {
  font-size: 0.85em;
  font-style: italic;
  color: $error-color;
}

.rc-textarea > textarea {
  width: 100%;
  min-height: 7em;
  outline: 0 !important;
  touch-action: manipulation;
  background-color: transparent;
}

.rc-textarea > textarea:disabled {
  cursor: not-allowed;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-textarea:not(:hover):not(.rc-textarea--focus) {
    background-color: $background-color-dark-mode;
  }

  .rc-textarea > textarea,
  .rc-textarea-label {
    color: #fff;
  }
}
