@import '../../scss/vars.scss';

.rc-textarea {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  border-radius: 1em;
  padding: 0.25em 0.5em;

  &:hover,
  &.rc-textarea--focus  {
    background-color: $primary-color;
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);

    .rc-textarea-label {
      color: #fff;
    }

    > textarea {
      background-color: transparent;
      color: #fff;
      box-shadow: none;
    }
  }
}

.rc-textarea-label {
  height: 2.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #000;
  user-select: none;
}

.rc-textarea > textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 7em;
  border-radius: 1em;
  padding: 0.5em 1em;
  outline: 0 !important;
  box-shadow: 0.125em 0.125em 2.6em rgba(0, 0, 0, 0.05);
  touch-action: manipulation;
  background-color: rgba(255, 255, 255, 0.2);
}

.rc-textarea > textarea:disabled {
  box-shadow: none;
  cursor: not-allowed;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-textarea > textarea {
    color: #fff;
  }

  .rc-textarea-label {
    color: #fff;
  }
}
