@import '../../style/variables.scss';

.rc-dropdown {
  display: none;
  position: absolute;
  z-index: $z-index-dropdown;
  box-shadow: $box-shadow;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.25rem 0.5em;
}
