@import '../../style/variables.scss';

$background-color: #ffffff;
$spacing: 0.25rem;
$max-height: 30rem;

.rc-dropdown {
  box-shadow: $box-shadow;
  animation: fadeIn 0.125s ease-in;
  box-sizing: border-box;
  z-index: $z-index-dropdown;
  max-height: $max-height;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rc-dropdown--top,
.rc-dropdown--top-left,
.rc-dropdown--top-right {
  margin-bottom: $spacing;
}

.rc-dropdown--bottom,
.rc-dropdown--bottom-left,
.rc-dropdown--bottom-right {
  margin-top: $spacing;
}

.rc-dropdown--left,
.rc-dropdown--left-top,
.rc-dropdown--left-bottom {
  margin-right: $spacing;
}

.rc-dropdown--right,
.rc-dropdown--right-top,
.rc-dropdown--right-bottom {
  margin-left: $spacing;
}
