@import '../../scss/vars.scss';

.rc-pure-confirm {
  display: block;
  position: relative;
  min-height: 12em;
  min-width: 25.5em;
  max-width: calc(100vw - 1em);
  border-radius: $border-radius;
  padding-bottom: 3em;
  background-color: $primary-color;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
  color: #fff;
  user-select: none;
  transition: all 0.25s;
}

.rc-pure-confirm-inside-wraper {
  padding: 1.25em;
}

.rc-pure-confirm-header {
  font-weight: 600;
  font-size: 1.125em;
  margin-bottom: 1em;
}

.rc-pure-confirm-content {
  font-weight: 500;
}

.rc-pure-confirm-buttons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
}

.rc-pure-confirm-ok,
.rc-pure-confirm-cancel {
  min-width: 6em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: transparent;
  box-shadow: none;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;

  &:hover {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-pure-confirm-ok.rc-pure-confirm-ok:not(:hover),
  .rc-pure-confirm-cancel.rc-pure-confirm-cancel:not(:hover) {
    color: #fff;
    background-color: transparent;
  }
}
