@import '../../scss/vars.scss';

.rc-pure-confirm {
  display: block;
  position: relative;
  height: 12em;
  width: 24em;
  max-width: calc(100vw - 1em);
  border-radius: 1em;
  box-shadow: 0.125em 0.125em 2.6em rgba(0, 0, 0, 0.05);
  background-color: $form-input-bg-color;

  &:hover {
    background-color: $primary-color;
    color: #fff;
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);

    .rc-pure-confirm-ok.rc-pure-confirm-ok,
    .rc-pure-confirm-cancel.rc-pure-confirm-cancel {
      background-color: $form-input-bg-color;
      color: #000;
    }
  }
}

.rc-pure-confirm-content {
  padding: 2.5em 1.25em;
  font-weight: 500;
}

.rc-pure-confirm-buttons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  transform: translateY(50%);
}

.rc-pure-confirm-ok,
.rc-pure-confirm-cancel {
  width: 5em;
  margin: 0.25em;
  background-color: $primary-color;
  box-shadow: 0.125em 0.125em 2.6em rgba(0, 0, 0, 0.05);
  color: #fff;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-pure-confirm:not(:hover) {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  .rc-pure-confirm-ok.rc-pure-confirm-ok,
  .rc-pure-confirm-cancel.rc-pure-confirm-cancel {
    background-color: $primary-color;
    color: #fff;
  }
}
