@import '../../scss/vars.scss';

.rc-progress {
  position: relative;
  border-radius: 100em;
  user-select: none;
  transition: all 0.25s;
  background-color: inherit;

  &:hover {
    background-color: $primary-color;
    color: #fff;

    circle.rc-progress-percent {
      stroke: #fff;
    }

    .rc-progress-number {
      color: #fff;
    }
  }
}

svg.rc-progress-svg {
  position: relative;
  height: 100%;
  width: 100%;
}

circle.rc-progress-percent {
  height: 100%;
  width: 100%;
  fill: none;
  stroke-width: 0.35em;
  stroke: $primary-color;
  transition: stroke-dashoffset 0.5s;
  transform: translate(0.35em, 0.35em);
  stroke-linecap: round;
}

.rc-progress-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $primary-color;
  display: flex;
  align-items: center;
  vertical-align: middle;

  > span {
    font-size: 0.5em;
  }
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-progress:not(:hover) {
    circle.rc-progress-percent {
      stroke: $primary-color;
    }
  }

  .rc-progress-number {
    color: $primary-color;
  }
}
