@import '../../scss/vars.scss';

.rc-select {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  border-radius: $border-radius;
  padding: 0.5em 1em;
  transition: all 0.25s;
  background-color: #f9f9f9;
  user-select: none;
  // box-shadow: 0.125em 0.125em 0.5em rgba(0, 0, 0, 0.05);

  &:hover,
  &.rc-select--drop  {
    background-color: $primary-color;
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);

    .rc-select-icon {
      fill: #fff;
    }

    .rc-select-label,
    .rc-select-input {
      color: #fff;
    }
  }
}

.rc-select--drop {
  .rc-select-icon {
    transform: rotate(-180deg);
  }
}

.rc-select-icon {
  cursor: pointer;
  transition: transform 0.5s;
  position: absolute;
  right: 0;
  fill: #000;
}

.rc-select-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: $basic-height;
  cursor: pointer;
  background-color: transparent;
}

.rc-select-label {
  height: $basic-height;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #000;
  user-select: none;
}

// DROP DOWN
@keyframes select-dropdown {
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}

.rc-select-dropdown {
  position: absolute;
  background-color: #595959;
  max-height: 20em;
  overflow: scroll;
  border-radius: $border-radius;
  animation: select-dropdown 0.5s ease-in-out;
}

// SELECT OPTION
.rc-select-option {
  display: flex;
  align-items: center;
  padding: 0 2em;
  height: 3.5em;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
  }
}

.rc-select-dropdown ul > .rc-select-option:nth-child(1) {
  margin-top: 1em;
}

.rc-select-dropdown ul > .rc-select-option:last-child {
  margin-bottom: 1em;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-select:not(:hover):not(.rc-select--focus) {
    background-color: $background-color-dark-mode;
  }

  .rc-select-input,
  .rc-select-label {
    color: #fff;
  }

  .rc-select-icon {
    fill:  #fff;
  }
}
