@import '../../scss/vars.scss';

.rc-select {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  border-radius: 1em;
  padding: 0.25em 0.5em;

  &:hover,
  &.rc-select--focus  {
    background-color: $primary-color;
    box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);

    .rc-select-dropdown {
      background-color: $primary-color;
    }

    .rc-select-label {
      color: #fff;
    }

    .rc-select-input {
      background-color: transparent;
      color: #fff;;
    }
  }
}

.rc-select-dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $basic-height;
  width: $basic-height;
  border-radius: 100em;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  position: absolute;
  right: 0;

  .rc-icon {
    color: #fff;
    height: 100%;
    width: 100%;
  }
}

.rc-select-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: $basic-height;
  border-radius: 100em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: $form-input-bg-color;
  cursor: pointer;
}

.rc-select-label {
  height: $basic-height;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #000;
}
