@import '../../scss/vars.scss';
@import '../../scss/animation.scss';

.rc-dock-search {
  > input[type=search] {
    outline: 0 !important;
    height: $basic-height;
    border-radius: $border-radius;
  }
}
