@import '../../style/variables.scss';

$background-color-for-primary: lighten($primary, 50%);
$background-color-for-error: lighten($error, 30%);
$background-color-for-warning: lighten($warning, 30%);
$background-color-for-success: lighten($success, 30%);

.rc-alert {
  font-size: $font-size;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  padding: 1em;
  border: none;
  border-radius: $border-radius;
  color: $text-color;
}

.rc-alert__icon {
  margin-right: 0.5em;
}

.rc-alert__message {
  font-size: 1em;
  font-weight: 500;
}

.rc-alert__description {
  font-size: 0.85em;
}

.rc-alert__closable-icon {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translate(-50%, -50%);
}

.rc-alert--success {
  background-color: $background-color-for-success;

  .rc-alert__icon {
    color: $success;
  }
}

.rc-alert--info {
  background-color: $background-color-for-primary;

  .rc-alert__icon {
    color: $primary;
  }
}

.rc-alert--warning {
  background-color: $background-color-for-warning;

  .rc-alert__icon {
    color: $warning;
  }
}

.rc-alert--error {
  background-color: $background-color-for-error;

  .rc-alert__icon {
    color: $error;
  }
}

.rc-alert--with-description {
  flex-direction: column;
  padding: 1em 1em 1em 4em;

  &.rc-alert--with-no-icon {
    padding-left: 1em;
  }

  .rc-alert__message {
    margin-bottom: 0.5em;
  }

  .rc-alert__icon {
    position: absolute;
    top: 0.66667em; /* top = 16/(font-size*16) */
    left: 1em;
    font-size: 1.5em;
  }

  .rc-alert__closable-icon {
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
  }
}
