@import '../../scss/vars.scss';
@import '../../scss/animation.scss';

.rc-alert {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  z-index: 1000;

  .rc-pure-alert {
    animation: zoomIn 0.25s;
    margin: 0.5em;
  }
}

.rc-alert--close-animation {
  .rc-pure-alert {
    animation: zoomOut 0.25s;
  }
}
