@import '../../scss/vars.scss';

.rc-rater {
  display: flex;
  align-items: center;
}

.rc-rater-item {
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.25s;
  padding: 0.25em;

  &:hover {
    transform: scale(1.15);
  }
}

.rc-rater-item.--light {
  color: #ffc107;
}
