@import '../../style/variables.scss';

// ul should be reset, and reset.css should be global 
// ul {
//   margin: 0;
//   padding: 0;
// }
$primary: $primary;
$border-radius: 0;

.rc-pagination {
  font-size: $font-size;
  color: $text-color;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  height: $height;
}

.rc-pagination__item {
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  border-right-width: 0;
  user-select: none;
  min-width: $height * 0.85;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  transition: 0.4s;

  &:hover {
    color: $primary;
  }

  &:first-child {
    border-left-width: $border-width;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em 
  }

  &:last-child {
    border-right-width: $border-width;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em 
  }
}

.rc-pagination__item--prev,
.rc-pagination__item--next {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.rc-pagination__item--active {
  border-color: $primary;
  background-color: $primary;
  color: white;
  box-shadow: 0 0.125em 0 $primary, 0 -0.125em 0 $primary;

  + .rc-pagination__item {
    border-left-width: 0;
  }

  &:hover {
    color: white;
  }
}

.rc-pagination__item--prev-disabled,
.rc-pagination__item--next-disabled {
  cursor: not-allowed;
}

.rc-pagination__item--jumpNext,
.rc-pagination__item--jumpPrev {
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: transparent;

  > *:before {
    content: "•••"
  }
}

.rc-pagination__item--jumpNext:hover > *:before,
.rc-pagination__item--jumpPrev:hover > *:before  {
  font-size: 1.5em;
  line-height: 0.5em;
}

.rc-pagination__item--jumpNext:hover > *:before {
  content: "»";
}

.rc-pagination__item--jumpPrev:hover > *:before {
  content: "«";
}
