@import '../../style/variables.scss';
// @import '../../style/animate/fadeIn.css';

$background-color: rgba(0, 0, 0, 0.625);
$font-size: 1rem;
$padding: 0.75em;
$size-arrow: 0.5em;

.rc-popover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25em;
  padding-left: $padding;
  padding-right: $padding;
  position: relative;
  font-size: $font-size;
  width: max-content;
  min-height: $font-size * 2;
  z-index: $z-index-tooltip;
  background-color: $background-color;
  box-shadow: $box-shadow;
  animation: fadeIn 0.25s ease-in;

  &:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: $size-arrow;
    height: $size-arrow;
    border: $size-arrow solid $background-color;
  }
}

.rc-popover--top,
.rc-popover--top-left,
.rc-popover--top-right {
  transform: translateY(-$size-arrow);

  &:before {
    border-color: $background-color transparent transparent transparent;
    top: 100%;
  }
}

.rc-popover--bottom,
.rc-popover--bottom-left,
.rc-popover--bottom-right {
  transform: translateY($size-arrow);

  &:before {
    border-color: transparent transparent $background-color transparent;
    bottom: 100%;
  }
}

.rc-popover--left,
.rc-popover--left-top,
.rc-popover--left-bottom {
  transform: translateX(-$size-arrow);

  &:before {
    border-color: transparent transparent transparent $background-color;
    right: 0;
  }
}

.rc-popover--right,
.rc-popover--right-top,
.rc-popover--right-bottom {
  transform: translateX($size-arrow);
}

.rc-popover--top,
.rc-popover--bottom {
  &:before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.rc-popover--top-left,
.rc-popover--bottom-left {
  &:before {
    left: 0;
    transform: translateX(50%);
  }
}

.rc-popover--top-right,
.rc-popover--bottom-right {
  &:before {
    left: 100%;
    transform: translateX(-150%);
  }
}

.rc-popover--left {
  &:before {
    top: 50%;
    transform: translate(100%, -$size-arrow);
  }
}

.rc-popover--left-top {
  &:before {
    top: 0;
    transform: translate(100%, $size-arrow / 2);
  }
}

.rc-popover--left-bottom {
  &:before {
    bottom: 0;
    transform: translate(100%, -$size-arrow / 2);
  }
}

.rc-popover--right,
.rc-popover--right-top,
.rc-popover--right-bottom  {
  &:before {
    left: 0;
    border-color: transparent $background-color transparent transparent;
  }
}

.rc-popover--right {
  &:before {
    top: 50%;
    transform: translate(-100%, -$size-arrow);
  }
}

.rc-popover--right-top {
  &:before {
    top: 0;
    transform: translate(-100%, $size-arrow / 2);
  }
}

.rc-popover--right-bottom {
  &:before {
    bottom: 0;
    transform: translate(-100%, -$size-arrow / 2);
  }
}
