@import '../../scss/vars.scss';

.rc-pure-notification {
  display: block;
  position: relative;
  min-height: 2em;
  min-width: 25.5em;
  max-width: calc(100vw - 1em);
  border-radius: $border-radius;
  background-color: $primary-color;
  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
  color: #fff;
  user-select: none;
  transition: all 0.25s;
}

.rc-pure-notification-bell {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.25em;
}

.rc-pure-notification-inside-wraper {
  padding: 1.25em;
}

.rc-pure-notification-content {
  font-weight: 500;
  padding-right: 1.25em;
}

// DARK MODE SUPPORT
