@import '../../scss/vars.scss';

.rc-timestone {
  display: flex;
  min-height: 5em;
  position: relative;
}

.rc-timestone-stone-icon {
  z-index: 2;
  color: $primary-color;
  background-color: $root-bg-color;
  border-radius: 100em;
  overflow: visible;
}

.rc-timestone-content {
  flex-grow: 1;
  margin-left: 1em;
}

.rc-timestone-rail {
  position: absolute;
  width: 0.0725em;
  height: 100%;
  left: 0.6em;
  top: 0.5em;
  background-color: $primary-color;
}

.rc-timeline > .rc-timestone {
  &:nth-child(1) {
    min-height: 0;

    .rc-timestone-rail {
      display: none;
    }
  }

  &:last-child {
    .rc-timestone-stone-icon {
      background-color: $primary-color;
      color: #fff;
    }
  }
}