@import '../../style/variables.scss';

$spacing: 0.25em;
$max-height: 30rem;

.rc-select {
  font-size: $font-size;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.rc-select__button {
  touch-action: manipulation;
  outline: none;
  background-color: #ffffff;
  border: $border-width solid $border-color;
  color: $text-color;
  border-radius: $border-radius;
  padding-left: 0.5em;
  position: relative;
  padding-right: 2em;
  font-size: 1em;
  height: $height;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: $primary;
    border-color: $primary;
  }

  &:focus {
    box-shadow: $box-shadow-for-primary;
  }
}

.rc-select--small {
  font-size: $font-size-for-small;
}

.rc-select--large {
  font-size: $font-size-for-large;
}

.rc-select--disabled {
  cursor: not-allowed;

  .rc-select__button {
    pointer-events: none;
  }
}

.rc-select--disabled .rc-select__button,
.rc-select--disabled .rc-select__button:hover {
  cursor: not-allowed;
  border-color: $border-color-when-disabled;
  color: $text-color-when-disabled;
}

.rc-select__dropdown-icon {
  cursor: pointer;
  user-select: none;
  position: absolute;
  right: 0.75em;
  transform: rotate(90deg);
  transition: 0.3s;
}

.rc-select__options {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  border: 0.0625em solid $border-color;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  overflow: scroll;
  max-height: $max-height;
  border-radius: $border-radius;
  margin-bottom: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.rc-select--dropdown-visible {
  .rc-select__button {
    color: $primary;
    border-color: $primary;
    box-shadow: $box-shadow-for-primary;
  }

  .rc-select__dropdown-icon {
    transform: rotate(-90deg);
  }

  .rc-select__options {
    display: block;
    min-width: 100%;
    width: max-content;
  }
}


/* Position of options overlay */
.rc-select--bottom,
.rc-select--bottom-left,
.rc-select--bottom-right {
  .rc-select__options {
    top: 100%;
    transform: translateY($spacing);
  }
}

.rc-select--bottom .rc-select__options {
  left: 50%;
  transform: translate(-50%, $spacing);
}

.rc-select--bottom-left .rc-select__options {
  left: 0;
}

.rc-select--bottom-right .rc-select__options {
  right: 0;
}
