@import '../../scss/vars.scss';

.rc-carousel {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $neumorphism;
  border-radius: $border-radius-medium;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-carousel {
    box-shadow: $neumorphism-darkmode;
  }
}