@import '../../scss/vars.scss';

.rc-pure-drawer {
  position: relative;
  min-width: 24em;
  max-width: 100vw;
  background-color: $form-input-bg-color;
  color: #000;
  border-radius: $border-radius;
}

.rc-pure-drawer-header {
  padding: 0.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125em;
}

.rc-pure-drawer-toggle {
  color: $primary-color;
}

.rc-pure-drawer-content {
  padding: 0.5em;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-pure-drawer {
    background-color: #2f2f2f;
    color: #fff;
  }

  .rc-pure-drawer-toggle:not(:hover) {
    background-color: #2f2f2f;
  }
}
