@import '../../scss/vars.scss';

.rc-pure-drawer {
  min-width: 24em;
  max-width: 100vw;
  height: 100vh;
  background-color: $form-input-bg-color;
}

.rc-pure-drawer-content {
  padding: 2.5em 1.25em;
}

// DARK MODE SUPPORT
.dark-mode {
  .rc-pure-drawer {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
}
