@import '../../style/variables.scss';
// @import '../../style/animate/fadeInDown.css';
// @import '../../style/animate//fadeInUp.css';

$spacing: 0.25rem;

.rc-submenu {
  position: relative;
  > .rc-submenu__menu {
    display: none;

    > .rc-menu-item {
      padding-left: 2em;
    }
  }
}

.rc-menu-item.rc-submenu__label {
  position: relative;
  font-style: italic;
  padding-right: 3em;

  &:before {
    content: "â¯";
    font-style: normal;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    transition: 0.3s;
  }
}

.rc-submenu--active {
  > .rc-submenu__menu {
    display: flex;
  }

  > .rc-menu-item.rc-submenu__label {
    &:before {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.rc-submenu--split {
  > .rc-submenu__menu {
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: $spacing;
  }
}
