@import '../../style/variables.scss';

$padding: 1em;
$background-color-for-hover: lighten($primary, 40%);

.rc-menu-item {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 2.875em;
  padding: 0 $padding;
  background-color: #ffffff;
  text-decoration: none;
  cursor: pointer;;
  user-select: none;
  white-space: nowrap;
  color: $text-color;

  &:hover:not(.rc-menu-item--active):not(.rc-menu-groupitem__title):not(.rc-submenu__title) {
    background-color: $background-color-for-hover;
  }
}

.rc-menu-item__icon {
  box-sizing: border-box;
  width: 2em;
  display: flex;
  align-items: center;
}

.rc-menu-item--active {
  background-color: $primary;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}
