@import '../../style/variables.scss';

.rc-menu-item.rc-menu-groupitem__title {
  cursor: pointer;
  color: $text-color;
  font-style: italic;
}

.rc-menu-groupitem__menu-item {
  .rc-menu-item {
    padding-left: 2em;
  }
}
