@import '../../style/variables.scss';
// @import '../../style/animate/fadeInDown.css';
// @import '../../style/animate//fadeInUp.css';

$spacing: 0.25rem;

.rc-submenu {
  position: relative;
  > .rc-submenu__menu {
    display: none;
  }
}

.rc-menu-item.rc-submenu__title {
  position: relative;
  font-weight: 600;

  &:before {
    content: "â¯";
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    transition: 0.3s;
  }
}

.rc-submenu--active {
  > .rc-submenu__menu {
    display: flex;
  }

  > .rc-menu-item.rc-submenu__title {
    color: $text-color;;
  
    &:before {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.rc-submenu--split {
  > .rc-submenu__menu {
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: $spacing;
  }
}
