@import '../../style/variables.scss';

.rc-menu-groupitem {

}

.rc-menu-item.rc-menu-groupitem__title {
  cursor: initial;
  color: hsla(0, 0%, 100%, 0.65);
  font-style: italic;

  &:hover {
    color: hsla(0, 0%, 100%, 0.65);
  }
}

.rc-menu-groupitem__menu-item {
  .rc-menu-item {
    padding-left: 2em;
  }
}
