@import '../../style/variables.scss';

$size: 1.35; /* you can change avatar size here */
$font-size: $font-size * $size;
$sizing: 1.5em;

.rc-avatar {
  font-size: $font-size;
  cursor: pointer;
  position: relative;
  height: $sizing;
  width: $sizing;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  background-color: #cccccc;

  > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.rc-avatar__name {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rc-avatar--circle {
  border-radius: 100em;
}

.rc-avatar--square {
  border-radius: $border-radius;
}

.rc-avatar--small {
  font-size: $font-size-for-small * $size;
}

.rc-avatar--large {
  font-size: $font-size-for-large * $size;
}
