@import '../../style/variables.scss';

.rc-textbox {
  font-size: $font-size;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  height: $height;
  box-sizing: border-box;
  overflow: hidden;

  input,
  input[type=text] {
    font-size: 1em;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    color: $text-color;
    height: 100%;
    width: 100%;

    &::placeholder {
      font-style: italic;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
