$basic-height: 2.5em;

$font-small: 0.85rem;
$font-large: 1.25rem;
$border-radius: 0.35em;

$primary-color: #0099ff;
$background-color-dark-mode: #595959;
// $primary-color: #2f2f2f;
$form-input-bg-color: #f2f2f2;
