@import '../../style/variables.scss';

.rc-modal-confirm-override {
  .rc-modal__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

.rc-modal-confirm {
  font-size: $font-size;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  padding: 1em 1em 1em 4em;
}

.rc-modal-confirm__icon {
  position: absolute;
  top: 0.66667em; /* top = 16/(font-size*16) */
  left: 1em;
  font-size: 1.5em;
}

.rc-modal-confirm__icon--info {
  color: $primary;
}

.rc-modal-confirm__icon--confirm,
.rc-modal-confirm__icon--warning {
  color: $warning;
}

.rc-modal-confirm__icon--success {
  color: $success;
}

.rc-modal-confirm__icon--error,
.rc-modal-confirm__icon--delete {
  color: $error;
}

.rc-modal-confirm__message {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.rc-modal-confirm__description {
  font-size: 0.85em;
}
